/* 
    Created on : Aug 25, 2016, 10:11:02 AM
    Author     : Nathan
*/

.root {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI";
    -fx-base: rgb(223, 236, 240);
    -fx-background: rgb(172, 225, 242);
}

.window {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI";
    -fx-base: rgb(223, 236, 240);
    -fx-background: rgb(242, 246, 247);
}

.label {
    
}

.button {
    
}

.table-view {
    -fx-background-color: transparent;
}